.rating {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.rating input {
    display: none;
}

.rating label {
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: var(--bs-dark);
    border-radius: 0.25rem;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    background-color: var(--bs-primary);
}
